apiVersion: apps/v1
kind: Deployment
metadata:
  name: tech-challenge-deployment
  namespace: default-namespace
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tech-challenge
  template:
    metadata:
      labels:
        app: tech-challenge
    spec:
      containers:
        - name: tech-challenge
          image: matheuspatricio0/projeto-fiap:latest
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          ports:
            - containerPort: 8080
          env:
            - name: POSTGRES_URL
              value: jdbc:postgresql://projetofiap.caetpmx4dios.us-east-1.rds.amazonaws.com/projetofiap?currentSchema=public
            - name: SECRET_KEY
              value: bE8tYq2xRmH9vD4uFz3WqJ7mQp5a3v1gK3XlYt7tVvB8rD2F9zXt1K6wU9tB8zv
            - name: KEYCLOAK_BASE_URL
              value: http://a35eaf96976814aafa0800213cb0a901-1833872259.us-east-1.elb.amazonaws.com

