name: pipeline

on:
  push:
  pull_request:
    types:
      - closed
      
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Maven
      run: mvn -B package --file pom.xml

  unit-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Build with Maven
        run: mvn tests
  
#
  deploy-dev:
     runs-on: ubuntu-latest
     environment:
       name: dev
     needs: unit-tests

     if: github.ref == 'refs/heads/develop'
     steps:
       - name: Deploy
         shell: bash
         run:
           echo "Deploy DEV"
  deploy-hml:
     runs-on: ubuntu-latest
     environment:
       name: hml
     needs: unit-tests

     if: github.ref == 'refs/heads/release'
     steps:
       - name: Deploy
         shell: bash
         run:
           echo "Deploy HML"
#    - name: Publish to GitHub Packages Apache Maven
#        run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
#        env:
#          GITHUB_TOKEN: ${{ github.token }}


  deploy-prd:
     runs-on: ubuntu-latest
     environment:
       name: prd
     needs: unit-tests

     if: github.ref == 'refs/heads/release'
     steps:
       - name: Deploy
         shell: bash
         run:
           echo "Deploy PRD"
     
  
